@page "/fetchdata"
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (categories == null)
{
    <p><em>Loading Cats...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Parent Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in categories)
            {
                string parentName;
                <tr>
                    <td>@category.ID</td>
                    <td>@category.Name</td>
                    @if (category.Parent != null) { parentName = category.Parent.Name; } else { parentName = "N/A"; }
                    <td>@parentName</td>

               </tr>
            }
        </tbody>
    </table>
}

@code {
    Category[] categories;

    protected override async Task OnInitializedAsync()
    {
        categories = await Http.GetJsonAsync<Category[]>("http://localhost:54425/api/v1/Categories");
    }

    class Category
    {
        public int ID { get; set; }
        public string Name { get; set; }
        public Category Parent { get; set; }
    }
}
